PROJECT_NAME="AI-Powered LMS"
API_V1_STR="/api/v1"
SECRET_KEY="supersecretjwtsecretkeydontshareitinproduction"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# Database URI (SQLAlchemy format)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/lms_db"
